*{
    margin: 0;
    padding: 0;
}
body{
    width: 1200px;
    margin: 0 auto;
}
#sidebar{
    margin-top: 90px;
    width: 13%;
    margin-right: 10%;
    position: fixed;
}
#sidebar li{
    text-align: center;
}
#sidebar a{
    font-size: 18px;
    font-weight: 500;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #636363;
}
#display{
    margin-top: 70px;
    width: 77%;
    float: right;
    height: 500px;
}
table{
    width: 100%;
}
table td{
    width: 25%;
    text-align: center;
}
table td img{
    width: 155px;
    height: 210px;
    margin: 10px 0;
}
.name{
    font-size: 16px;
    font-weight: 500;
    color: #000;
}