/*
曹容
*/
.cr-header .navbar{
    border-radius: 0px;
}
/*
杨涵轩
*/
.yhx-left-header{
    padding:   25px 25px 0 25px;
    font-size: 28px;
}
.yhx-left-header i{
    margin-top: 2px;
    margin-right: 12px;
}
.yhx-left-tag{
    padding:  0 25px 25px 25px;
}
/*
童天相
*/
.ttx-right{
    padding-top: 25px;
    min-height: 800px;
}
.ttx-movie-container{
    overflow: hidden;
}
#myfooter{
    height: 40px;
}
#myfooter p{
    text-align: center;
}
.ttx-movie{
    margin-bottom: -5000px;
    padding-bottom: 5000px;
}
.ttx-movie-photo{
    max-width: 200px;
}
.ttx-movie-text{
    text-align: center;
    margin: 5px 0 0;
    line-height: 40px;
    font-size: 16px;
    position: relative;
    bottom: 0;
}
.ttx-movie-text a{
    text-decoration: none;
    margin-right: 10px;
}
.ttx-movie-text strong{
    color: #e09015
}